<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in</title>
</head>

<body class="signup-bg-image">
  <header>

    <div class="row">

        <%= devise_error_messages! %>

        <h1 align="center">TeamUp</h1>
      </div>
    </div>

    <br/>

    <section class="section-form">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
        <div class="row">  

          <!-- EMAIL -->
          <div class="form-group">
            <div class="text-field">
              <%= f.email_field :email, placeholder: "Email address", class: "" %>
            </div>
          </div>

          <br/>

          <!-- PASSWORD -->
          <div class="form-group">
            <div class="text-field">
              <%= f.password_field :password, placeholder: "Password - 6 characters minimum", class: "" %>
            </div>
          </div>

          <br/>
          
          <!-- SUBMIT -->
          <div class="form-group">
            <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn button-background-color" %>
          </div>

          <div class="form-group">
            <%= render "devise/shared/links" %>
          </div>

        </div>

      <% end %>
    </section>
  </header>
</body>

</html>